<%- include('partials/header') %>
<h1>Dashboard</h1>
<a href="/services/add" class="button">Create New Service</a>
<h2>Recent Services</h2>
<ul>
    <% services.forEach(service => { %>
        <li>
            <a href="/services/<%= service._id %>">
                <%= service.serviceDateTime.toLocaleString() %> - <%= service.topic %>
            </a>
        </li>
    <% }) %>
</ul>
<%- include('partials/footer') %>
